{# app/Resources/views/blog/blog.html.twig #}
<h1>Your blog page show is {{ show }}</h1>

<p>in language {{locale}}</p>
<p>published in year of {{year}}</p>
<p>show: {{show}}</p>
<p>url is {{url}}</p>